body {
	margin-bottom: 80px;
	margin-top: 130px;
}


/* layout */

.navbar-inverse {
	background-color: #3c3c3c;	
}

article {
	margin-top: 25px;
	padding: 15px;
	background-color: #f7f7f7;
	border-style: solid;
	border-width: 2px;
	border-color: #cacaca;
	border-radius: 4px;	
}

#results {
	margin-top: 20px;
}


/* text */

.h1 {
	margin-top: 0;
	font-size: 40px;
	font-weight: 300;
	color: #952f2b;
}

.h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

.h3 {
	font-size: 20px;
	font-weight: 300;
}

h4 {
	font-weight: 300;
}

.p {
	font-weight: 300;
	font-size: 17px;
	line-height: 1.4;
}

.navbar-text {
	font-size: 12px;
}

.datetime {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0;
}

.reviewedBy {
	font-size: 12px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
}

.postContent {
	font-size: 16px;
	font-weight: 300;
}

.error {
	color: red;
	margin-top: 10px;
}

.location {
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	color: #7f7f7f;
	margin-top: 0;
	margin-bottom: 5px;
}

.cityState {
	text-align: center;
	color: #7f7f7f;
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 14px;
	font-weight: 300;
}

.reviewStyle p {
	color: #952f2b;
}


/* images */

.avatar {
	border-style: solid;
	border-width: 1px;
	border-color: #cacaca;
	margin: 20px 0px 0px;
}

